*, ::before, ::after {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

:root {
    --main-1: #e9e9e9e9;
    --button-text-color: #e9e9e9;
    --large-gap: 20px;
    --small-gap: 12px;
}

@font-face {
  font-family: 'calc-font'; /* Choose a name for your font family */
  src: url('fonts/14\ Segment\ LED\ Regular.ttf') format('truetype'); /* Provide the correct relative path */
  font-weight: normal;
  font-style: normal;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: var(--main-1);
    display: grid;
    place-items: center;
}

#calculator {
    padding: var(--large-gap);
    display: grid;
    grid-template-rows: repeat(7, clamp(60px, 1fr, 130px));
    gap: var(--large-gap);
    width: clamp(200px, 500px, 800px); 
    aspect-ratio: 2 / 3;
    background-color: var(--main-1);
    border-radius:25px;
    box-shadow:  20px 20px 60px #a4a4a4,
             -20px -20px 60px #ffffff;
}

#calculator * {
    border-radius: 8px;
}

#display {
    width: 100%;
    height: 100%;
    padding: var(--small-gap);
    grid-row: 2 / 4;
    font-family: 'calc-font';
    font-size: 4.5rem;
    overflow-wrap: anywhere;
    background-color: rgb(112, 139, 101);
    background-image: 
        repeating-linear-gradient(to right, transparent 0px, transparent 4px, rgba(153, 163, 135, 0.8) 5px),
        repeating-linear-gradient(to bottom, transparent 0px, transparent 4px, rgba(126, 139, 101, 0.8) 5px);
}


/* button styling */

#button-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4 , 1fr);
    gap: var(--small-gap);
    grid-auto-flow: row;
    grid-row: 4 / 7;
    width: 100%;
    height: 100%;
} 

.button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.75rem;
}

.gray-btn {
    background-color: rgb(185, 185, 185);
}

.green-btn {
    background-color: rgb(155, 187, 95);
}

.row-1 {
    grid-row: 1 / 1;
}

.row-2 {
    grid-row: 2 / 2;
}

.row-3 {
    grid-row: 3 / 3;
}

.row-4 {
    grid-row: 4 / 4;
}

#equal {
    grid-column: 4 / 6;
    grid-row: 4 / 4;
} 

#decorations {
    width: 100%;
    height: 100%;
    grid-row: 1 / 2;
    background-color: pink;
}

/* #button-container {
    display: flex;
    gap: var(--small-gap);
    grid-row: 4 / 5;
    width: 100%;
    height: 100%;
}




.button-section {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: var(--small-gap);
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

#button-section-1 {
    width: 100%;
    height: 100;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#button-section-2 {
    width: 100%;
    height: 100;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


*/